.gradle/2.14.1/taskArtifacts/cache.properties.lock
.gradle/2.14.1/taskArtifacts/fileHashes.bin
.gradle/2.14.1/taskArtifacts/fileSnapshots.bin
.gradle/2.14.1/taskArtifacts/fileSnapshotsToTreeSnapshotsIndex.bin
.gradle/2.14.1/taskArtifacts/taskArtifacts.bin
.settings/org.eclipse.buildship.core.prefs
bin/Library.class
bin/LibraryTest.class
bin/app/WebApplication.class
bin/app/controller/smapleController.class
bin/app/model/User.class
bin/app/repository/UserRepository.class
